
:root {
  --color-backgorund-body: #4f8fbaa7;
  --color-text-primary: #ffffff;
}



body {
  background-color: var(--color-backgorund-body);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rootDesign {
  color: var(--color-text-primary);
}

.dom {
  background-color: rgb(90, 206, 202);
  padding: 30px;
}

.ispContainer {
  display: flex;
  flex-direction: column;
}

.ispContainer label {
  font-style: italic;
  padding: 6px;
}
.ispContainer input {
  font-style: italic;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
.ispContainer button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.styledTable {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.styledTable th,
.styledTable td {
  padding: 14px 18px;
  text-align: center;

}

.styledTable th {
  background: #1f2937; /* gris oscuro */
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.styledTable tr:not(:first-child):hover {
  background: #f9fafb;
}

.styledTable tr:nth-child(even) {
  background: #f3f4f6;
}

.bt-clearDB {
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #1f2937;
  color: #f3f4f6;
}
